@import url("./reset.min.css");
@import url("./grid.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Vazirmatn:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #1a1a1a;
    --white: #fff;
}

body{
    font-family: "Open Sans";
    background-color: var(--black);
    color: var(--white);
}

a{
    text-decoration: none;
    color: var(--white);
}

li{
    list-style: none;
}

.responsive-img{
    width: 100%;
    height: auto;
    display: block;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 10%;
}

.navbar strong{
    font-size: 22px;
}

.navbar .bars-navbar-portfolio input{
    display: none;
}

.navbar .bars-navbar-portfolio .bars{
    width: 24px;
    height: 2px;
    background-color: var(--white);
    display: block;
    margin: 5px 0;
    transition: transform .5s ease, opacity .25s ease;
}

.navbar .bars-navbar-portfolio input#hamburger:checked ~ label .bar-top{
    transform: translateY(7px) rotate(-45deg);
}

.navbar .bars-navbar-portfolio input#hamburger:checked ~ label .bar-middle{
    opacity: 0;
}

.navbar .bars-navbar-portfolio input#hamburger:checked ~ label .bar-bottom{
    transform: translateY(-7px) rotate(45deg);
}

.header{
    text-align: center;
    margin-top: 100px;
}

.header figure img{
    width: 60%;
    max-width: 300px;
    border-radius: 100%;
}

.header h2{
    background: linear-gradient(to right, #4FC3F7, #fff);
    color: transparent;
    background-clip: text;
}

.header h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 100px;
}

.header h4{
    background: linear-gradient(to right, #4FC3F7, #fff);
    color: transparent;
    background-clip: text;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 400;
}

.header p{
    margin-top: 30px;
    line-height: 24px;
    padding: 0 5%;
}

.header .contact{
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #4FC3F7;
    border-radius: 40px;
    margin-top: 30px;
    transition: background-color 0.25s ease, transform 0.25s ease;
}

.header .contact:hover{
    background-color: #4FC3F7;
}

.header .contact:hover a{
    color: #000;
}

.header .contact:active{
    background-color: #4FC3F7;
    transform: scale(0.9);
    color: #000;
}

.header .resume{
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #4FC3F7;
    border-radius: 40px;
    margin-top: 30px;
    transition: background-color 0.25s ease, transform 0.25s ease;
}

.header .resume:hover{
    background-color: #4FC3F7;
}

.header .resume:hover a{
    color: #000;
}

.header .resume:active{
    background-color: #4FC3F7;
    transform: scale(0.9);
    color: #000;
}

section.form{
    text-align: center;
}

section.form h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 100px;
}

section.form h4{
    background: linear-gradient(to right, #4FC3F7, #fff);
    color: transparent;
    background-clip: text;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 400;
}

section.form form{
    display: flex;
    flex-direction: column;
    margin: 40px 5%;
}

section.form form label{
    text-align: left;
    font-size: 16px;
    font-weight: 700;
}

section.form form input{
    margin: 1rem 0;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #d6dded;
    outline: none;
    background-color: transparent;
    color: #fff;
}

section.form form input::placeholder{
    font-size: 14px;
}

section.form form textarea{
    margin: 1rem 0;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #d6dded;
    height: 150px;
    outline: none;
    background-color: transparent;
    color: #fff;
    resize: none;
}

section.form form textarea::placeholder{
    font-size: 14px;
}

section.form form button{
    background-color: #fff;
    color: #000;
    border: 1px solid #d6dded;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: transform 0.25s ease;
}

section.form form button:active{
    transform: scale(0.9);
}

section.work{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 5%;
}

section.work button.email{
    background-color: transparent;
    border: 2px solid #484e53;
    border-radius: 15px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 140px;
    transition: transform 0.25s ease;
    cursor: pointer;
}

section.work button.email:active{
    transform: scale(0.9);
}

section.work button.email span{
    color: #fff;
    text-wrap: nowrap;
}

section.work p{
    font-size: 24px;
}

.footer{
    display: flex;
    flex-direction: column;
}

.footer .social{
    margin-top: 40px;
}

.footer .social ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer .social ul li{
    display: inline;
}

.footer .social ul li a ion-icon{
    font-size: 28px;
    padding: 5px;
}

.footer span{
    text-align: center;
    margin: 30px 0;
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 300;
}